p{
	font-size: 50px;
    
    padding-top: 200px;
    
    width: 50%;  
    float: right; 
    margin-top: 80px;
    font-family: 'Chivo', sans-serif;
    padding: 15px;
    text-align: justify;
    margin-right: 50px;
}
   .build{
   	 width: 494px;
   	 height: 494px;
   	 background-image: url(fn_1.jpg);
   	 background-repeat: no-repeat;
   	 background-size: cover;
   	 margin-top: 50px;
   	 float: left;
   	 margin-bottom: 0px;
   	 border-radius: 2350px;
   	margin-left: 43px;
   	border:3px solid black;
   	background-position: center;
   	transition: 0.2s linear;

   	

   	
   }
 
  .build:hover{
  	background-image: url(fn.gif);
  	box-shadow: 0px 10px 10px 0px #C0C0C0;
  }
p a{
	text-decoration: none;
	color: black;
	font-weight: normal;

}
p a:hover{
	font-family: cursive;
}
